
 <div class="header">


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img alt="brand" src="ChainGoLogo.png", class: "img-center img-responsive">

                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Demo</a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Making Transportation Efficient and Safe</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Who Are We?</h2>
                <p>ChainGo aims at eliminating inefficiencies and Fraud in international trade by standardizing the documentation process and applying blockchain technology to provide a transparent and verified transaction chain.</p>
                <p>


        <hr>

        <div class="row">
            <div class="col-sm-4">
                <%= image_tag("ocean-freight.jpg", class: "img-circle img-responsive img-center img-rounded round-image") %>
                <div class="round-image">
                </div>
                <h2>Maritime Trade</h2>
                <p>International Maritime Trade accounts for 90% of worldwide trade. This enormous industry has been around for a long time and yet it is still hampered by several key problems: Beaurocratic inefficiency and fraud.</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag("Papers.jpg", class: "img-circle img-responsive img-center")  %>
                <h2>Inefficient</h2>
                <p>The entire shipping process, from import to export, is bloated with paperwork. The average container spends an extra 19 days in transit due to beaucratic delays. Most transports require a large array of documents from the Bill of Lading to customs paperwork, most documents are required in triplicate and quadruplacates.</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag("Blockchain.jpg", class: "img-circle img-responsive img-center") %>
                <h2>Fraud</h2>
                <p>Despite the growth of Global Trade and the focus on eliminating fraud it is a perssistant issue. Blockchain technology is specifically aimed at providing a transparent and verified record of all transactions to ensure the elimination of fraud.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ChainGo 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
